
<nav class="navbar navbar-light bg-success">
  <div class="container-fluid">
    <h3>Your WishList Of Books</h3>
  </div>
</nav>


<table class="table mt-4">
  <thead>
    <tr>
      <th scope="col">No.</th>
      <th scope="col">Fav. Book Name</th>
      <th scope="col">Pages</th>
       <th scope="col">Author</th>
    </tr>
  </thead>


  <tbody>
    <ng-container *ngFor="let student of studentdata">


    <tr *ngIf="student.wishlist">
      <td>{{student.id}}</td>
      <td>{{student.name}}</td>
      <td>{{student.pages}}</td>
      <td>{{student.author}}</td>


    </tr>
  </ng-container>
  </tbody>
</table>
