.card{
  /* margin-top: 10px; */
  border: none;
  width: 500px;
  padding: 40px;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(193, 122, 16);
  background: linear-gradient(90deg, rgb(141, 175, 212) 0%, rgb(140, 152, 229) 100%);
}
.t{
 height: auto;
  background-color: gray;

}
.r{
  /* flex : 1 1 auto; */
  display: flex;
  align-items: right;
  justify-content:flex-end;
}
.example-spacer{
  flex: 1 1 auto;
  background-color: grey;
}
@media screen and (max-width:500px) {
  .card{
      width: 70%;
      height: 70%;
      transform: translate(-50%, -50%);
      background: #b0e0e6;
      display: flex;
      justify-content: center;
  }}