  <div class="t">
  <mat-toolbar>
    
    
    
     <h1><span> Magic Of Books</span></h1>
     <span class="example-spacer"></span>
     <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" >
      Add Books
    </button>&nbsp;&nbsp;
    
     <button mat-icon-button class="example-icon favorite-icon" mat-raised-button color="accent" aria-label="Example icon-button with heart icon" onclick="logout()" routerLink="/login">
      <mat-icon>login</mat-icon>
    </button>
     <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" routerLink="/detail">
       <mat-icon>call</mat-icon>
     </button>
   </mat-toolbar>
  </div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div style="color: rgb(13, 12, 12);" class="text-center">
          <h1>Registration</h1>
          

        </div>
        <form action="">
          <form [formGroup]="signupForm" (ngSubmit)="signUp()">
            
            <div style="color: white;" class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Full Name</label>
              <input formControlName="fullname" type="text" class="form-control" id="exampleInputPassword1">
            </div>

            <div style="color: white;" class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Mobile Number</label>
              <input formControlName="mobile" type="number" class="form-control" id="exampleInputPassword1">
            </div>


            <div style="color: white;" class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              
            </div>
            <div style="color: white;" class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1">
            </div>

            <button type="submit" class="btn btn-primary mb-3">Sign Up</button>
          </form>
          <a style="color: rgb(26, 25, 25); margin-top: 20px;" routerLink="/login">Already Registered? Click to Login</a>
        </form>
      </div>
    </div>
  </div>
</div>
