<div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div style="color: rgb(13, 12, 12);" class="text-center">
            <h1>Admin</h1>
            
  
          </div>
          <br><br>
            <form  >
                <div style="display: flex ; justify-content:center; "> <img src="../../assets/mypic.jpg"  style="border-radius: 2rem;" width="100px " alt="myimg"/></div>
                <br><br>
               

                <div style="color: white;" class="mb-4">
                <label class="form-label">Full Name :  </label>
                <b><span style="color:black;">Shivam Sharma</span></b>
            </div>
  
              <div style="color: white;" class="mb-4">
                <label  class="form-label">Mobile Number :</label>
               <b> <span style="color:black;">9685370536</span></b>
              </div>
  
  
              <div style="color: white;" class="mb-4">
                <label  class="form-label">Email address :</label>
               <b> <span style="color:black;">shivamsharmaindore2000@gmail.com</span></b>
             </div>
              
  
              
            <a style="color: rgb(226, 16, 16); margin-top: 20px; "  class="mb-5" routerLink="/signup">  Click to Home</a>
          </form>
        
      

  
  